<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="rewards  - Immigration & Visa Solutions Template">
        <meta name="author" content="">

        <!-- Favicon and touch Icons -->
        <link href="assets/img/favicon.png" rel="shortcut icon" type="image/png">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="assets/img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="assets/img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="assets/img/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <!-- Page Title -->
        <title>rewards  - Immigration & Visa Solutions Template</title>    
        
        <!-- Styles Include -->
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/landing.css">
        
    </head>


    <body class="theme-style-landing">

        <!-- Preloader -->
        <div id="preloader">
			<div class="preloader-inner">
				<div class="spinner"></div>
				<div class="loading-text">
					<span data-preloader-text="I" class="characters">I</span>
					
					<span data-preloader-text="M" class="characters">M</span>
					
					<span data-preloader-text="M" class="characters">M</span>
					
					<span data-preloader-text="I" class="characters">I</span>
					
					<span data-preloader-text="G" class="characters">G</span>

					<span data-preloader-text="W" class="characters">W</span>

					<span data-preloader-text="A" class="characters">A</span>

					<span data-preloader-text="Y" class="characters">Y</span>
				</div>
			</div>
		</div>

        
        <!-- Main Header -->
        <header class="header">

            <!-- Lower Bar -->
            <div class="header-inner">
                <div class="container">
                    <div class="d-flex align-items-center justify-content-between">
                        <!-- Left Part -->
                        <div class="header_left_part d-flex align-items-center">
                            <div class="logo">
                                <a href="index.html" class="light_logo"><img src="assets/img/logo.svg" alt="logo"></a>
                            </div>
                        </div>

                        <!-- Right Part -->
                        <div class="header_right_part d-flex align-items-center">
                            <div class="mainnav d-none d-xl-block">
                                <ul class="main-menu">
                                    <li class="menu-item"><a href="#demo"><span>Demo</span></a></li>
    
                                    <li class="menu-item"><a href="#features"><span>Features</span></a></li>
    
                                    <li class="menu-item"><a href="#documentation"><span>Documentation</span></a></li>
    
                                    <li class="menu-item"><a href="#support"><span>Support</span></a></li>
                                </ul>
                            </div>

                            <div class="button-box d-none d-sm-block">
                                <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index.html" class="btn">
                                    <span class="btn-wrap">
                                        <span class="text-first">Purchase Now</span>
                                        <span class="text-second">Purchase Now</span>
                                    </span>
                                </a>
                            </div>

                            <button type="button" class="mr_menu_toggle d-xl-none">
                                <i class="bi bi-list"></i>
                            </button>
                        </div>
                    </div>
                </div>
			</div>
		</header>
        <!-- End Main Header -->			

        <!-- Mobile Responsive Menu -->
		<div class="mr_menu">
			<button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
            <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
			<div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
		</div>
        
        <!-- Main Wrapper-->
        <main class="wrapper">

            <!-- Slider Area -->
            <section class="wptb-slider pb-0 bg-image" style="background-image: url('assets/img/landing/bg-1.jpg');">
                <div class="swiper-container swiper-main-slider">    
                    <!-- swiper slides -->
                    <div class="swiper-wrapper">
                        <!-- Slide One -->
                        <div class="swiper-slide">
                            <div class="container">
                                <div class="wptb-slider--item" style="background-image: url('assets/img/landing/frame-1.jpg');">
                                    <div class="row align-items-center">
                                        <!-- Content Column -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <!-- Slider Image -->
                                            <div class="wptb-slider--image-holder wow fedInUp">
                                                <div class="wptb-item--inner">
                                                    <div class="wptb-item--image">
                                                        <img src="assets/img/landing/home-1.png" alt="img">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-10 col-sm-12">
                                            <div class="wptb-heading mb-0">
                                                <div class="wptb-item--inner">
                                                    <h1 class="wptb-item--title text-white"> Immigration & Visa Solutions HTML Template</h1>
                                                    <p class="wptb-item--description text-white">Get a great wordpress theme for you visa or immigration Services</p>
                                                    
                                                    <div class="button-box">
                                                        <a href="#demo" class="btn">
                                                            <span class="btn-wrap">
                                                                <span class="text-first">View Demos</span>
                                                                <span class="text-second">View Demos</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  

                                <div class="landing-features--inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6  mb-3 mb-lg-0">
                                            <div class="wptb-icon-box1 wow fadeInLeft">
                                                <div class="wptb-item--inner flex-start">
                                                    <div class="wptb-item--img"><img src="assets/img/landing/icon-1.png" alt=""></div>
                                                    <div class="wptb-item--holder">
                                                        <h5 class="wptb-item--title">Made by <br>
                                                            elite author</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                        
                                        <div class="col-lg-3 col-md-6  mb-3 mb-lg-0">
                                            <div class="wptb-icon-box1 wow fadeInLeft">
                                                <div class="wptb-item--inner flex-start">
                                                    <div class="wptb-item--img"><img src="assets/img/landing/icon-2.png" alt=""></div>
                                                    <div class="wptb-item--holder">
                                                        <h5 class="wptb-item--title">Build With <br>
                                                            Bootstrap</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                        
                                        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                                            <div class="wptb-icon-box1 wow fadeInLeft">
                                                <div class="wptb-item--inner flex-start">
                                                    <div class="wptb-item--img"><img src="assets/img/landing/icon-3.png" alt=""></div>
                                                    <div class="wptb-item--holder">
                                                        <h5 class="wptb-item--title">Excellent <br>
                                                            Support Team</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                        
                                        <div class="col-lg-3 col-md-6 ">
                                            <div class="wptb-icon-box1 wow fadeInLeft">
                                                <div class="wptb-item--inner flex-start">
                                                    <div class="wptb-item--img"><img src="assets/img/landing/icon-4.png" alt=""></div>
                                                    <div class="wptb-item--holder">
                                                        <h5 class="wptb-item--title">Lifetime <br>
                                                            Update</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Slide One -->
                    </div>
                </div>
			</section>

            <!-- Pre-Made Previews -->
            <section id="demo" class="previews-section bg-image-2" style="background-image: url('assets/img/landing/bg-3.jpg');">
                <div class="container">
                    <div class="wptb-heading">
                        <div class="wptb-item--inner text-center">
                            <h6 class="wptb-item--subtitle wow fadeInUp"> STUNNING HOME PAGES</h6>
                            <h1 class="wptb-item--title wow fadeInUp mt-4"> <span>An Amazing collection of clean, modern <br> & flexible Homepage Layouts</span></h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="preview_box box_one">
                                <div class="preview-header">
                                    <h4>Home One</h4>
                                    <h6>Immigration Consultancy</h6>
                                </div>

                                <div class="img_box d-flex justify-content-center align-items-center gap-3">
                                    <img src="assets/img/landing/2-1.jpg" alt="img" class="img_one">
                                    <img src="assets/img/landing/2-2.jpg" alt="img" class="img_two">
                                </div>
                                <div class="btn-group">
                                    <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index.html" target="_blank" class="btn">
                                        <span class="btn-wrap">
                                            <span class="text-first">Live Preview</span>
                                            <span class="text-second">Live Preview</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="preview_box box_two">
                                <div class="preview-header">
                                    <h4>Home Two</h4>
                                    <h6>Education Visa Consultancy</h6>
                                </div>

                                <div class="img_box d-flex justify-content-center align-items-center gap-3">
                                    <img src="assets/img/landing/3-1.jpg" alt="img" class="img_one">
                                    <img src="assets/img/landing/3-2.jpg" alt="img" class="img_two">
                                </div>
                                <div class="btn-group">
                                    <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index-2.html" target="_blank" class="btn">
                                        <span class="btn-wrap">
                                            <span class="text-first">Live Preview</span>
                                            <span class="text-second">Live Preview</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="preview_box box_three">
                                <div class="preview-header">
                                    <h4>Home Three</h4>
                                    <h6>Travel Visa Consultancy</h6>
                                </div>

                                <div class="img_box d-flex justify-content-center align-items-center gap-3">
                                    <img src="assets/img/landing/4-1.jpg" alt="img" class="img_one">
                                    <img src="assets/img/landing/4-2.jpg" alt="img" class="img_two">
                                </div>
                                <div class="btn-group">
                                    <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index-3.html" target="_blank" class="btn">
                                        <span class="btn-wrap">
                                            <span class="text-first">Live Preview</span>
                                            <span class="text-second">Live Preview</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="preview_box box_four">
                                <div class="preview-header">
                                    <h4>Home Four</h4>
                                    <h6>Education Visa Consultancy</h6>
                                </div>

                                <div class="img_box d-flex justify-content-center align-items-center gap-3">
                                    <img src="assets/img/landing/5-1.jpg" alt="img" class="img_one">
                                    <img src="assets/img/landing/5-2.jpg" alt="img" class="img_two">
                                </div>
                                <div class="btn-group">
                                    <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index-4.html" target="_blank" class="btn">
                                        <span class="btn-wrap">
                                            <span class="text-first">Live Preview</span>
                                            <span class="text-second">Live Preview</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="theme-funfacts pt-0">
                <div class="container">
                    <div class="theme-funfacts--inner">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="wptb-counter1 style1 wow skewIn">
                                    <div class="wptb-item--inner">
                                        <div class="wptb-item--value"><span class="odometer" data-count="80"></span><span class="suffix">+</span></div>
                                        <div class="wptb-item--text">Ready Elements</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-3 col-sm-6">
                                <div class="wptb-counter1 style1 wow skewIn">
                                    <div class="wptb-item--inner">
                                        <div class="wptb-item--value"><span class="odometer" data-count="30"></span><span class="suffix">+</span></div>
                                        <div class="wptb-item--text">Supporting Pages</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <div class="wptb-counter1 style1 wow skewIn">
                                    <div class="wptb-item--inner">
                                        <div class="wptb-item--value"><span class="odometer" data-count="6+"></span><span class="suffix">+</span></div>
                                        <div class="wptb-item--text">Details Pages</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-3 col-sm-6">
                                <div class="wptb-counter1 style1 no-border wow skewIn">
                                    <div class="wptb-item--inner">
                                        <div class="wptb-item--value"><span class="odometer" data-count="60"></span><span class="suffix">+</span></div>
                                        <div class="wptb-item--text">Pre-made Blocks</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Innerpages Area -->
            <div class="innerpages">
                <div class="innerpages--inner">
                    <div class="container">
                        <div class="wptb-heading">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="wptb-item--inner">
                                        <h6 class="wptb-item--subtitle">
                                            Innerpages
                                        </h6>
                                        <h1 class="wptb-item--title"> <span>Given inner pages that will help to complete your website
                                        </span></h1>
                                        <p class="wptb-item--description">With the rewards , you can easily create your own complete website. The inner pages have been optimally designed and arranged so that you can quickly and easily adjust your website to your needs.</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="text-md-end">
                                        <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index.html" target="_blank" class="btn">
                                            <span class="btn-wrap">
                                                <span class="text-first">Purchase Now</span>
                                                <span class="text-second">Purchase Now</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gallery -->
                        <div class="wptb-innerpages-gallery">    
                            <div class="swiper-container">    
                                <!-- swiper slides -->
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /team-1.html"><img src="assets/img/landing/inner-1.jpg" alt="img"></a>
                                    </div>

                                    <div class="swiper-slide">
                                        <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /services-1.html"><img src="assets/img/landing/inner-2.jpg" alt="img"></a>
                                    </div>

                                    <div class="swiper-slide">
                                        <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /country-list-1.html"><img src="assets/img/landing/inner-3.jpg" alt="img"></a>
                                    </div>

                                    <div class="swiper-slide">
                                        <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /case.html"><img src="assets/img/landing/inner-4.jpg" alt="img"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="wptb-support-item one">
                                    <h3 class="wptb-item--title">Pre-built 4 Amazing Homepages <span>01</span></h3>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="wptb-support-item two">
                                    <h3 class="wptb-item--title">80+ Unique & Dynamic Sections <span>02</span></h3>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="wptb-support-item three">
                                    <h3 class="wptb-item--title">Visa, Country & Blog Pages included <span>03</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Image -->
            <div class="wptb-image-single wow fadeInUp">
                <div class="wptb-item--inner">
                    <div class="wptb-item--image">
                        <img src="assets/img/landing/bg-2.png" alt="img">
                    </div>
                </div>
            </div>

            <!-- Functionality Area -->
            <section class="functionality" style="background-color: #FFF5F6;">
                <div class="functionality-inner">
                    <div class="container">
                        <div class="wptb-heading">
                            <div class="wptb-item--inner text-center">
                                <img src="assets/img/logo.svg" alt="img">
                                <h1 class="wptb-item--title wow fadeInUp mt-4"> <span>Get a professional outlook by choosing <br>
                                    rewards  for your website.</span></h1>
                            </div>
                        </div>

                        <div id="funfacts" class="funfacts">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="funfact one">
                                        <div class="fun_content">
                                            <h3 class="fun-number"><span class="odometer" data-count="80"></span><span class="suffix">+</span></h3>
                                            <p>UI Elements</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-lg-4 col-md-4">
                                    <div class="funfact two">
                                        <div class="fun_content">
                                            <h3 class="fun-number"><span class="odometer" data-count="60"></span><span class="suffix">+</span></h3>
                                            <p>Pre-made Blocks</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-lg-4 col-md-4">
                                    <div class="funfact three">
                                        <div class="fun_content">
                                            <h3 class="fun-number"><span class="odometer" data-count="40"></span><span class="suffix">+</span></h3>
                                            <p>Neatly Coded Pages</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <figure>
                                    <img src="assets/img/landing/home-2.png" alt="img">
                                </figure>
                            </div>
                            <div class="col-lg-5">
                                <ol class="order-list">
                                    <li>
                                        <div class="list-item d-flex wow fadeInUp">
                                            <div class="counter">1</div>
                                            <div class="list-content">
                                                <h4>Modern Portfolio Layouts</h4>
                                                <p>Build and manage an eye-catching and impressive portfolio fast and without effort.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="list-item d-flex wow fadeInUp">
                                            <div class="counter">2</div>
                                            <div class="list-content">
                                                <h4>Useful Blog Layouts</h4>
                                                <p>Create an attractive and stunning journal to tell the world your wonderful stories.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="list-item d-flex wow fadeInUp">
                                            <div class="counter">3</div>
                                            <div class="list-content">
                                                <h4>Cool Features & Elements</h4>
                                                <p>rewards  includes amazing features and elementsto create reach & functional Website.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>

                            <div class="col-lg-5">
                                <ol class="order-list">
                                    <li>
                                        <div class="list-item d-flex wow fadeInUp">
                                            <div class="counter">4</div>
                                            <div class="list-content">
                                                <h4>Fully Responsive</h4>
                                                <p>Build and manage an eye-catching and
                                                    impressive portfolio fast and without effort. </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="list-item d-flex wow fadeInUp">
                                            <div class="counter">5</div>
                                            <div class="list-content">
                                                <h4>Well Documented</h4>
                                                <p>Create an attractive and stunning journal
                                                    to tell the world your wonderful stories.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="list-item d-flex wow fadeInUp">
                                            <div class="counter">6</div>
                                            <div class="list-content">
                                                <h4>Amazing Features</h4>
                                                <p>rewards  includes amazing features and
                                                    elementsto create reach & functional Website</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>

                            <div class="col-lg-7">
                                <figure>
                                    <img src="assets/img/landing/home-3.png" alt="img">
                                </figure>
                            </div>

                        </div>
                        <div class="btn-wrap text-center">
                            <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index.html" target="_blank" class="btn">
                                <span class="btn-wrap">
                                    <span class="text-first">Purchase rewards  Now</span>
                                    <span class="text-second">Purchase rewards  Now</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Core Features Area -->
            <section id="features" class="features bg-image" style="background-image: url('assets/img/landing/bg-3.jpg');">
                <div class="container">
                    <div class="wptb-heading">
                        <div class="wptb-item--inner text-center">
                            <h6 class="wptb-item--subtitle wow fadeInUp">Core Features</h6>
                            <h1 class="wptb-item--title wow fadeInUp mt-4"> <span>An Amazing collection of clean, modern <br> & flexible Homepage Layouts</span></h1>
                        </div>
                    </div>

                    <!-- Feature Boxes -->
                    <div class="features--inner">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/bootstrap.png" alt="">
                                    </div>
                                    <p>Bootstrap V5.2</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/html.png" alt="">
                                    </div>
                                    <p>HTML5</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/support.png" alt="">
                                    </div>
                                    <p>Best Support Team</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/swiper.png" alt="">
                                    </div>
                                    <p>Swiper Slider</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/css.png" alt="">
                                    </div>
                                    <p>CSS3</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/googlefonts.png" alt="">
                                    </div>
                                    <p>Google Fonts</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/bootstrap.png" alt="">
                                    </div>
                                    <p>Bootstrap Icons</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/responsive.png" alt="">
                                    </div>
                                    <p>Fully Responsive</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/aos.png" alt="">
                                    </div>
                                    <p>Modern WOW Effect</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/w3c.png" alt="">
                                    </div>
                                    <p>W3C Validation</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/documentation.png" alt="">
                                    </div>
                                    <p>Well Documentation</p>
                                </div>

                                <div class="feature-box">
                                    <div class="feature-icon">
                                        <img src="assets/img/landing/icons/update.png" alt="">
                                    </div>
                                    <p>Lifetime Update</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-image" style="background-image: url('assets/img/landing/bg-5.jpg');">
                <div class="container">
                    <!-- Call To Action -->
                    <div class="call-to-action-inner" style="background-image: url('assets/img/landing/bg-4.jpg');">
                        <div class="row">
                            <div class="col-lg-5 col-md-12">
                                <div class="call-to-action-content">
                                    <img src="assets/img/landing/logo-footer.png" alt="logo">
                                    <h1>Take your website to <br> the next level!</h1>
                                    <div class="btn-group">
                                        <a href="https://wpthemebooster.com/demo/themeforest/html/rewards /index.html" target="_blank" class="btn">
                                            <span class="btn-wrap">
                                                <span class="text-first">Purchase Now</span>
                                                <span class="text-second">Purchase Now</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        
        <div class="totop">
            <a href="#"><i class="bi bi-chevron-up"></i></a>
        </div>
        

        <!-- Core JS -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>

        <!-- Framework -->
        <script src="assets/js/bootstrap.min.js"></script>
        
        <!-- WOW Scroll Effect -->
        <script src="plugins/wow/wow.min.js"></script>

        <!-- Swiper Slider -->
        <script src="plugins/swiper/swiper-bundle.min.js"></script>

        <!-- Odometer Counter -->
        <script src="plugins/odometer/appear.js"></script>
        <script src="plugins/odometer/odometer.js"></script>

        <!-- Fancybox -->
        <script src="plugins/fancybox/jquery.fancybox.min.js"></script>

        <!-- Flatpickr -->
        <script src="plugins/flatpickr/flatpickr.min.js"></script>

        <!-- Nice Select -->
        <script src="plugins/nice-select/jquery.nice-select.min.js"></script>

        <!-- Theme Custom JS -->
        <script src="assets/js/theme.js"></script>
    </body>
</html>